<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>Website</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <header>
      <img src="./header.jpg" alt="imagem de um mergulho">
    </header>
    <main>
      <aside>
        <nav>
          <ul>
            <li>
              <a href="#">Item 1 do menu</a>
            </li>
            <li>
              <a href="#">Item 2 do menu</a>
            </li>
            <li>
              <a href="#">Item 3 do menu</a>
            </li>
          </ul>
        </nav>
      </aside>
      <article>
        <section>
          <h2>Header 2</h2>
          <p>Amet nulla fugiat et amet. Enim pariatur duis tempor incididunt non sunt eu nulla ullamco dolor. Pariatur
            anim quis quis magna reprehenderit anim anim officia aute irure id amet. Cillum aute cillum tempor fugiat
            duis. Ut ea laborum cupidatat do aliquip cupidatat enim in proident anim irure ullamco. Consectetur commodo
            id excepteur pariatur dolore. Voluptate sunt in commodo cupidatat consequat ipsum amet nulla cupidatat
            veniam sit ex fugiat.</p>
        </section>
        <section>
          <h2>Header 2</h2>
          <p>Amet nulla fugiat et amet. Enim pariatur duis tempor incididunt non sunt eu nulla ullamco dolor. Pariatur
            anim quis quis magna reprehenderit anim anim officia aute irure id amet. Cillum aute cillum tempor fugiat
            duis. Ut ea laborum cupidatat do aliquip cupidatat enim in proident anim irure ullamco. Consectetur commodo
            id excepteur pariatur dolore. Voluptate sunt in commodo cupidatat consequat ipsum amet nulla cupidatat
            veniam sit ex fugiat.</p>
        </section>
      </article>
    </main>
    <footer>
      <p>Escola de Natação - 2021</p>
    </footer>
  </div>
</body>

<div class="modal">
  <h2>Informação importante</h2>
  <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Intrandum est igitur in rerum naturam et
    penitus quid ea postulet pervidendum; <a data-ref="#">Cur igitur easdem res</a>, inquam, Peripateticis dicentibus verbum nullum est,
    quod non intellegatur? </p>
</div>

</html>